@import 'reset.css';
@import 'variables.less';
@import 'grid.less';
@import 'type.less';
@import 'buttons.less';

// App stylesheet imports
@import 'repl.less';

////////////
// MIXINS //
////////////

.scroll(@height) {
    max-height: @height;
    overflow-y: scroll;
}

////////////
// LAYOUT //
////////////

body {
    background: url('../images/3px_pattern.png'), repeat 0 0;
}

div.container {
    max-width: @container-width;
    margin: 0 auto;
    overflow: hidden;
    background-color: #fff;
    padding-left: 1rem;
    padding-right: 1rem;
}

#main-column { 
    .column(8);
    min-height: 640px;
}
#sidebar { .column(4) }

////////////////
// ANIMATIONS //
////////////////

.fadeInLeft, .fadeOutLeft, .fadeInRight, .fadeOutRight {
    .animation-duration(0.2s) !important;
}

////////////////////
// LOADING SCREEN //
////////////////////

#loading {
    h1 {
        margin: 0;
    }

    visibility: hidden;
    text-align: center;
    
    width: 150px;
    height: 36px;
    padding: 20px 40px 20px 80px;

    position: absolute;
    top: 40%;
    left: 50%;
    margin: -36px 0 0 -150px;

    background-color: #383636;
    .border-radius(15px);
    .box-shadow(5px 5px 5px #888);
    color: @grayLighter;
}


/////////////
// CONTENT //
/////////////

header#title {
    .column(8);
    margin-top: 1.5rem;
	margin-bottom: 1.2rem;
    margin-left: 10px;
}

#nav {
    .column(4);
    float: right;
    position: relative;
    top: 24px;
    text-align: right;
    
    ul {
        list-style: none;
        margin-left: 0;
    }
    li {
        line-height: 20px;
        margin-bottom: 10px;
        border-style: solid;
        border-right-width: 5px;
        border-color: #F0EBEB;
    }
    li.active {
        border-color: #000;
    }
    li a {
        color: #000;
        text-decoration: none;
        font-size: 20px;
        display: inline-block;
        padding-right: 5px;
        letter-spacing: 1px;
        position: relative;
        top: 2px;
    }
    li:hover {
        border-color: #000;
    }
}

#text {
    .column(8);
    p { 
        line-height: 19px;
        margin-bottom: 12px; 
    }
    margin-bottom: 1.2rem;
}


#footer {
    .column(12);
    p { 
        text-align: right;
        font-size: 12px;
    }
}