.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
#chapters a {
  text-decoration: none;
}
#chapters article {
  color: #000;
  background: #e4e4e4;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 3px 1px #000000;
  -moz-box-shadow: 0 2px 3px 1px #000000;
  box-shadow: 0 2px 3px 1px #000000;
}
#chapters article header {
  padding: 10px 0 10px 0;
  background-color: #3D3D3D;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-topright: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
#chapters article header h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
  color: #eee;
  text-shadow: 1px 1px 3px #000;
}
#chapters article p {
  padding: 10px;
  margin-bottom: 0px;
}
