@import 'variables.less';
@import 'mixins.less';

img#lost-robot {
    float: right;
    .border-radius(10px);
}

#tagline {
    font-family: "Droid sans" @headingsFontFamily;
    line-height: 30px;
}