.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
#lost-robot {
  position: relative;
}
img#lost-robot-img {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
span#lost-robot-credit {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform-origin: right 0;
  -moz-transform-origin: right 0;
  -ms-transform-origin: right 0;
  -o-transform-origin: right 0;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  font-size: 12px;
}
#tagline {
  font-family: "Droid sans" "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 30px;
}
#intro p {
  line-height: 20px;
  margin-bottom: 12px;
}
#start-chapter {
  margin-top: 40px;
  text-align: center;
}
button#introduce-me {
  margin-top: 10px;
}
#enter-name {
  display: inline-block;
  padding: 10px;
}
