.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
img#lost-robot {
  float: right;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
span#lost-robot-credit {
  float: right;
  font-size: 12px;
  margin-top: 5px;
}
#tagline {
  font-family: "Droid sans" "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 30px;
}
#intro p {
  line-height: 20px;
  margin-bottom: 12px;
}
#start-chapter {
  margin-top: 40px;
  text-align: center;
}
button#start {
  margin-top: 10px;
}
#enter-name {
  display: inline-block;
  padding: 10px;
}
